.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.nav {
  display: flex;
  gap: 14px;
}

.active {
  color: red;
  font-weight: bold;
}
