@import '~open-color/open-color';
@import '~include-media/dist/_include-media';

$red: red;
$orange: orange;
$yellow: yellow;

@mixin square($size) {
  $calculated: 32px * $size;
  width: $calculated;
  height: $calculated;
}
