.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Viewport Width */
  height: 100vh; /* Viewport Height */
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.contents {
  position: relative;
  background-color: white;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
